<!doctype html>
<html lang="en">
{% include 'html/head.html' %}
{% include 'html/nav.html' %}

<body>
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}

    <div class="container">
        <table class="table table-hover">

            <thead>

                <tr class="table-success">
                    {% for k in field%}
                    <th class="field-head" scope="col">{{k}}</th>
                    {% endfor %}
                    </th>
                    <th scope="col"></th>
                </tr>

            </thead>

            <tbody>
                {% for i in range(val|length) %}

                <tr scope="row">
                    {% for realval in val[i] %}
                    <td class="real-val">{{realval}}</td>
                    {%endfor%}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        수정/삭제
                    </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item edit-btn" data-target="#exampleModal" data-whatever="@mdo">수정</a>
                                <!--data-toggle ="modal"-->
                                <a class="dropdown-item" href="#" onclick="delRow(this,{{val[i]}});">삭제</a>
                            </div>
                        </div>
                    </td>
                </tr>

                {% endfor %}

            </tbody>


        </table>
        <button type="button" class="btn btn-success" id="add">추가</button>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">단말 정보 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">

                    <form action="/list/update" method="post">
                        {% for idx in range(field|length) %}
                        <div class="form-group">
                            <label for="{{field[idx]}}" class="col-form-label">{{field[idx]}}</label>
                            <input type="text" class="form-control" placeholder={{val[0][idx]}} id="edit-modal-{{field[idx]}}" name="{{field[idx]}}">
                        </div>
                        {% endfor %}


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">수정</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">단말 정보 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="/list/deviceinsert" method="post">

                        {% for idx in range(field|length) %}
                        <div class="form-group">
                            <label for="{{field[idx]}}" class="col-form-label">{{field[idx]}}</label>
                            <input type="text" class="form-control" placeholder={{val[0][idx]}} name="{{field[idx]}}">
                        </div>
                        {% endfor %}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">등록</button>

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#add").on("click", addBtn);
            $(".edit-btn").on("click", edit);
            $("#addData").on("click", add);
        });

        function add() {


            $.ajax({
                url: "/deviceinsert",
                type: "POST",
                data: $("#addform"),
                success: function(data) {
                    alert("등록 되었습니다.")
                }
            });


        }

        function edit() {
            let realValues = $(this).parents('tr').find('.real-val');
            $(".field-head").each(
                function(key, val) {
                    $("#edit-modal-" + val.textContent).val(realValues[key].textContent);
                }
            );
            $("#exampleModal").modal();
        }

        function addBtn() {
            $("#addModal").modal();
        }

        function delRow(ths, id) {

            var check_string = "단말 정보를 정말 삭제하시겠어요?"
            if (!confirm(check_string)) {
                return false
            }
            $(ths).parents("tr").remove();
            $.ajax({
                type: "POST",
                url: "/list/delbtn",
                data: {
                    "id": id[0]
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        window.location.reload()

                    }
                }

            })
        }
    </script>
</body>

</html>