<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a id="navtitle" class="navbar-brand" href="/first">Launcher WEB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/weeklyWork">주간보고 / 재택 일정 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/workSchedule">재택 일정  관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/device">단말 정보 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workAdmin">관리자 페이지</a>
                </li>
                <div class="form-row float-right">
                    <h2 id="navh2" class="text-white">{{session['userEmail']}}</h2>
                    <button type="button" class="btn btn-sm btn-info" onclick="location.href = '/logoutUser'">
                        Log-out
                    </button>
                </div>
            </ul>

        </div>
    </div>
</nav>