<!doctype html>
<html lang="en">
{% include 'html/head.html' %}
{% include 'html/nav.html' %}
<body>
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <h1 align="center" id="weeklyWorkTitle"></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="input-group" id="DateDemo">
                    <input type='text' id='weeklyDatePicker' placeholder="Select Week" />
                </div>
            </div>
        </div>

        <div class="card bg-light text-dark">
            <div class="form-group">
                <label for="thisWeekTextArea" class="form-label mt-4" id="thisWeekTextAreaLabel"></label>
                <textarea class="form-control" id="thisWeekTextArea" rows="10"></textarea>
                <button type="button" class="btn btn-primary btn-lg" onclick="saveWeeklyWork('thisWeek')">저장</button>
                <button type="button" class="btn btn-primary btn-lg">수정</button>
                <button type="button" class="btn btn-primary btn-lg">초기화</button>
            </div>
        </div>

        <div class="card bg-light text-dark">
            <div class="form-group">
                <label for="nextWeekTextArea" class="form-label mt-4" id="nextWeekTextAreaLabel"></label>
                <textarea class="form-control" id="nextWeekTextArea" rows="10"></textarea>
                <button type="button" class="btn btn-primary btn-lg" onclick="saveWeeklyWork('nextWeek')">저장</button>
                <button type="button" class="btn btn-primary btn-lg">수정</button>
                <button type="button" class="btn btn-primary btn-lg">초기화</button>
            </div>
        </div>

        <div class="card bg-light text-dark">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Checked 월
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Checked 화
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Checked 수
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Checked 목
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Checked 금
                </label>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            initDatePicker();
        });
    </script>
</body>

</html>