<!doctype html>
<html lang="en">

{% include 'html/head.html' %}
{% include 'html/nav.html' %}
<body>
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <h1 align="center">주간 보고 작성</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="input-group" id="DateDemo">
                    <input type='text' id='weeklyDatePicker' placeholder="Select Week" />
                </div>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                        </button>
                    </h2>
                </div>

                <div  class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="row">
                        <div class="card" style="width: 35rem;">
                            <div class="card-body">
                                <h5 class="card-title">금주주간보고내용</h5>
                                <hr color="blue">
                                <p class="text-monospace">금주피테그</p>
                                <button class="btn btn-primary " data-target="#exampleModal" ">수정</button>
                                <button class="btn btn-success" >관리자 권한으로 보기</button>
                            </div>
                        </div>
                        <div class="card" style="width: 35rem;">
                            <div class="card-body">
                                <h5 class="card-title"> 차주 주간 보고 내용</h5>
                                <hr color="blue">
                                <p class="text-monospace">담주피태그</p>
                                <button class="btn btn-primary " data-target="#next" ">수정</button>
                                <button class="btn btn-success" >관리자 권한으로 보기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullsize" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">주간보고 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <textarea col="30" rows="15" class="form-control" id="work-text" name=""></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="send_work()">수정</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="next" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullsize" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nextexampleModalLabel">차주주간보고 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <textarea col="30" rows="15" class="form-control" id="work-text-next" name=""></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="send_next_work()">수정</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            initDatePicker();
        });
        // var date

        // function foredit(key, val) {
        //     result = val.replace(/(<br>|<br\/>|<br \/>)/g, '\r\n');
        //     result = result.replace(/&nbsp;/gi, ' ');
        //     $("#work-text").val(result);
        //     date = key
        //     document.getElementById('work-text').setAttribute("name", key)
        //     $("#exampleModal").modal();
        // }

        // function nextforedit(key, val) {
        //     result = val.replace(/(<br>|<br\/>|<br \/>)/g, '\r\n');
        //     result = result.replace(/&nbsp;/gi, ' ');
        //     $("#work-text-next").val(result);
        //     date = key
        //     document.getElementById('work-text-next').setAttribute("name", key)
        //     $("#next").modal();
        // }

        // function myFunction(key) {
        //     window.location.href = "/work/admin?date=" + key;

        // }

        // function send_work() {
        //     $.ajax({
        //         url: "/work",
        //         type: "POST",
        //         data: {
        //             type: 1,
        //             data: $("#work-text").val(),
        //             date: date
        //         },
        //         dataType: 'JSON',
        //         success: function() {
        //             alert("입력 되었습니다.")
        //             window.location.href = "/work"
        //         }
        //     });
        // }

        // function send_next_work() {
        //     $.ajax({
        //         url: "/work",
        //         type: "POST",
        //         data: {
        //             type: 2,
        //             data: $("#work-text-next").val(),
        //             date: date
        //         },
        //         dataType: 'JSON',
        //         success: function() {
        //             alert("입력 되었습니다.")
        //             window.location.href = "/work"
        //         }
        //     });
        // }
    </script>
</body>

</html>