/* Show it's not fixed to the top */
body {
  min-height: 60rem;
}

#navh2 {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
}

#navbarCollapse > ul > li > a {
  font-size: 1.5rem;
}

#navtitle {
  font-size: 2.5rem;
}

#weeklyDatePicker {
  font-size: 1.5rem;
}
